<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
        </div>
        <div>
            <button *ngIf="!isTaskCreating" type="button" class="btn btn-success btn-in-line" (click)="addTask();">
                <span class="hidden-sm hidden-xs">Add</span>
            </button>
            <button type="button" class="btn btn-warning btn-in-line" (click)="clearTasks();">
                <span class="fa idden-md hidden-lg hidden-xl glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-sm hidden-xs">Clear</span>
            </button>
        </div>  
        <div class='clearfix'></div>
        <div class="panel-group" id="panel-all-tasks">
            <div class='navbar-collapse collapse'>
                <ul class='nav nav-stacked navbar-nav'>
                    <li *ngFor="let task of tasks">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="btn btn-default btn-remove-task" (click)="removeTask(task)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>

                                <button type="button" class="btn btn-default btn-full"
                                        (click)="selectTask(task)">
                                    {{task.name}}
                                </button>
                            </div>

                            <div *ngIf="task == currentTask">
                                <div class="panel-body">
                                    <input  *ngIf="isTaskCreating" type="text" placeholder="Any name" [(ngModel)]="taskName"/>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Address</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let p of task.points">
                                                <td>{{p.id}}</td>
                                                <td>{{p.address}}</td>
                                                <td>
                                                    <button *ngIf="isTaskCreating" type="button" class="btn btn-default" (click)="deletePoint(p)">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        Length: {{task.totalLength}} m
                                    </div>
                                    <button *ngIf="isTaskCreating" type="button" class="btn btn-success btn-in-line" (click)="saveTask();">
                                        <span class="hidden-sm hidden-xs">Save</span>
                                    </button>                                    
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>      
    </div>
</div>
